.list{
    background: var(--white);
    padding: 1rem;
    color: var(--gray-light);
    border-radius: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 5fr 0fr 0fr;
    align-items: center;
}

.icon {
    font-size: 24px;
    fill: #757575;
    
}
.icon--check:hover{
    fill: green;
}
.icon--edit:hover{
    fill: rgb(0, 153, 255);
}
.icon--delete:hover{
    fill: red;
}

.icon--check {
    fill: green;
}

.text--checked {
    
    text-decoration: line-through;
}