form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form .inputTask{ 
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--orange);
    outline: #e1e1e1;
    color: var(--gray-light)
}

form .btnTask{
    background-color: var(--orange);
    color: var(--white);
    border: none;
    outline: none;
    padding: 1rem 0;
    border-radius: 0.5rem;
}