h2{
    width: 600px;
    display: grid;
    place-items: center;
}

.taskList {
    margin-top: 7rem;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.inputSearch{ 
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--orange);
    outline: #e1e1e1;
    color: var(--gray-light);
}